/* Navbar Styling */
.navbar {
    background-color:#f0dfcd;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    align-items: center; /* Căn chỉnh tất cả các phần tử con theo chiều dọc */
  }
  
  .nav-links li {
    display: flex;
    align-items: center; /* Đảm bảo các thẻ li căn chỉnh theo chiều dọc */
    margin: 0 15px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #bb853f;
    font-size: 16px;
    font-weight: 500;
    padding: 10px 15px;
    display: flex; /* Sử dụng flex để căn chỉnh nội dung trong thẻ a */
    align-items: center;
    justify-content: center;
    height: 100%; /* Đảm bảo chiều cao của thẻ a được tính đúng */
    border-radius: 50px;
    transition: background-color 0.3s, color 0.3s;
    margin-top: 0;
    margin-bottom: 0;
  }
  
  /* Hover effect */
  .nav-links a:hover {
    background-color: #bb853f;
    color: white;
    border-radius: 50px;
    text-decoration: none;
  }
  
  /* Dropdown Styling */
  .dropdown {
    position: relative;
  }
  
  .dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    top: 100%; /* Đảm bảo menu dropdown hiển thị bên dưới item */
    left: 0;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    list-style-type: none;
    padding: 0;
    margin: 0;
    min-width: 160px;
    border-radius: 5px;
  }
  
  .dropdown-menu li {
    padding: 10px;
  }
  
  .dropdown-menu a {
    text-decoration: none;
    display: block;
    color: #bb853f;
    padding: 8px 15px;
    border-radius: 5px;
  }
  
  /* Hover effect in dropdown */
  .dropdown-menu a:hover {
    background-color: #bb853f;
    color: white;
    border-radius: 5px;
  }
  
  /* Dropdown parent hover effect */
  .dropdown:hover > a {
    background-color: #bb853f;
    color: white;
    border-radius: 50px;
    text-decoration: none;
  }
  