$primary-color: #bb853f;
$hover-color: #906d3f;
$background-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);
$disabled-color: #e0e0e0;
$inactive-color: #f0f0f0;
$text-color: #333;
$secondary-text-color: #666;
$highlight-color: #f0dfcd;

.calendar {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: $background-color;
  border-radius: 10px;
  box-shadow: 0 4px 10px $shadow-color;

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    font-size: 1.2em;
    font-weight: bold;
    color: $text-color;

    span {
      font-size: 1.3em;
      font-weight: bold;
      color: $text-color;
    }

    .month-nav {
      background-color: transparent;  // Đảm bảo nút không có màu nền
      color: $primary-color; // Đặt màu văn bản
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 0.9em;
      transition: color 0.3s ease;

      &:hover {
        color: $hover-color; // Thay đổi màu chữ khi hover
      }
    }
  }

  &-grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }

  &-day-name {
    font-weight: bold;
    text-align: center;
    color: $secondary-text-color;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &-day {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    height: 50px;
    width: 50px;

    &:hover {
      background-color: $highlight-color;
      transform: scale(1.05);
    }

    &.available {
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: $hover-color;
      }
    }

    &.past {
      background-color: $disabled-color;
      color: #a0a0a0;
      cursor: not-allowed;
    }

    &.empty {
      background-color: $inactive-color;
      cursor: default;
    }
  }

  &-nav {
    background-color: transparent;
    color: $primary-color;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: color 0.3s ease;

    &:hover {
      color: $hover-color;
    }
  }
}
