.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

h2 {
  text-align: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: center;
}

.form-group label {
  width: 30%; /* Chiều rộng của nhãn */
  font-size: 16px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  width: 65%; /* Chiều rộng của input/select */
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  background-color: #0494F0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0270C8;
}

.error {
  color: red;
  text-align: center;
  margin-bottom: 15px;
}